<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="backend.mapper.OrderItemMapper">

    <!-- 注文明細登録 -->
    <insert id="insert"
            parameterType="backend.entity.OrderItem"
            useGeneratedKeys="true"
            keyProperty="id">

        INSERT INTO order_items
        (
        order_id,
        product_id,
        product_name,
        price,
        quantity,
        created_at,
        updated_at
        )
        VALUES
        (
        #{orderId},
        #{productId},
        #{productName},
        #{price},
        #{quantity},
        NOW(),
        NOW()
        )

    </insert>

    <!-- 注文IDから注文明細取得 -->
    <select id="findOrderItems"
            parameterType="long"
            resultType="backend.dto.response.OrderItemResponse">

        SELECT
        oi.product_id AS productId,
        p.name AS productName,
        oi.price,
        oi.quantity,
        (oi.price * oi.quantity) AS subtotal
        FROM order_items oi
        INNER JOIN products p
        ON oi.product_id = p.id
        WHERE oi.order_id = #{orderId}
        ORDER BY oi.id

    </select>

</mapper>